# this file contains the configuration for the actual pipelines for each of the stacks itself.

version: 2.1

default-context: &default-context
  context:
    - iat-aws

parameters:
  team:
    type: string
    default: 'ankit'
  pipeline-config:
    type: boolean
    default: false
  networking:
    type: boolean
    default: false
  eks:
    type: boolean
    default: false
  app-a:
    type: boolean
    default: false

# these are re-usable jobs that are re-used with relevant parameters for each of the stacks.
jobs:
  lint:
    working_directory: /data
    docker:
      - image: ghcr.io/terraform-linters/tflint:v0.40.0
    parameters:
      environment:
        type: string
      stack:
        type: string
    steps:
      - checkout
      - run:
          name: terraform lint
          command: |
            cd week2/stacks/<< parameters.stack >>
            tflint
  plan:
    working_directory: /tmp/project
    docker:
      - image: ankitwal/iat-terraform-aws:v0.1.0
    parameters:
      environment:
        type: string
      stack:
        type: string
    steps:
      - checkout
      - run:
          name: terraform init & plan
          command: |
            cd week2/stacks/<< parameters.stack >>
            terraform init -input=false -backend-config="key=<< pipeline.parameters.team >>/<< parameters.environment >>/<< parameters.stack >>"
            terraform plan \
            -var 'team_name=<< pipeline.parameters.team >>' \
            -var-file=../../environments/<< parameters.stack >>/<< parameters.environment >>.tfvars \
            -out tfapply
      - persist_to_workspace:
          root: .
          paths:
            - .

  apply:
    docker:
      - image: ankitwal/iat-terraform-aws:v0.1.0
    parameters:
      stack:
        type: string
    steps:
      - attach_workspace:
          at: .
      - run:
          name: terraform
          command: |
            cd week2/stacks/<< parameters.stack >>
            terraform apply -auto-approve tfapply

# workflows are pipelines that are conditionally triggered depending of the on the pipeline.parameters
# pipeline.parameters are passed down from the config.yml depending on the path of the code change
# workflows invoke re-usable jobs with relevant parameters
workflows:
  version: 2
  networking:
    when:
      condition:
        or:
          - << pipeline.parameters.pipeline-config >>
          - << pipeline.parameters.networking >>
    jobs:
      - lint:
          name: networking-lint
          <<: *default-context
          environment: 'stg'
          stack: 'networking'
      - plan:
          name: networking-plan-stg
          <<: *default-context
          environment: 'stg'
          stack: 'networking'
          requires:
            - networking-lint
      - networking-approve-stg:
          type: approval
          requires:
            - networking-plan-stg
      - apply:
          name: networking-apply-stg
          <<: *default-context
          stack: 'networking'
          requires:
            - networking-approve-stg
      - plan:
          name: networking-plan-prod
          <<: *default-context
          environment: 'prod'
          stack: 'networking'
          requires:
            - networking-apply-stg
      - networking-approve-prod:
          type: approval
          requires:
            - networking-plan-prod
      - apply:
          name: apply-prod
          <<: *default-context
          stack: 'networking'
          requires:
            - networking-approve-prod
  eks:
    when:
      condition:
        or:
          - << pipeline.parameters.pipeline-config >>
          - << pipeline.parameters.eks >>
    jobs:
      - plan:
          name: eks-plan-stg
          <<: *default-context
          environment: 'stg'
          stack: 'eks'
      - eks-approve-stg:
          type: approval
          requires:
            - eks-plan-stg
      - apply:
          name: eks-apply-stg
          <<: *default-context
          stack: 'eks'
          requires:
            - eks-approve-stg
      - plan:
          name: eks-plan-prod
          <<: *default-context
          environment: 'prod'
          stack: 'eks'
          requires:
            - eks-apply-stg
      - eks-approve-prod:
          type: approval
          requires:
            - eks-plan-prod
      - apply:
          name: eks-apply-prod
          <<: *default-context
          stack: 'eks'
          requires:
            - eks-approve-prod
